.App {
  text-align: center;
  background-image: url("./som.png");
  background-position: center;
  background-size: auto;
  background-attachment: fixed;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.post {
  width: 55%;
  margin-bottom: 20pt;
  padding: 20pt;
  border: 1px solid black;
  background-color: black;
  color: white;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding-top: 20pt;
  padding-bottom: 20pt;
  padding-left: 20pt;
  padding-right: 20pt;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.logout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding-top: 20pt;
  padding-bottom: 20pt;
  padding-left: 20pt;
  padding-right: 20pt;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.createNewPostText {
  width: 75%;
  height: 150px;
  padding: 20pt;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 4px;
  background-color: lightgrey;
  resize: none;
}

.createNewPostButton {
  margin-top: 20pt;
}

.createNewPostContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin-bottom: 20pt;
  padding: 20pt;
  border: 1px solid black;
  margin: 0 auto;
}

.loggedOut {
  height: 10000pt;
}

.logo {
  z-index: -1;
  size: 10pt;
}

.postOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.votes {
  display: flex;
  flex-direction: row;
}
